
#cog{
  display: inline-block;
  margin: auto;
  font-size: 30px;
}

#cog:hover{
  animation: spin 0.5s;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}
