
*{
  font-family: sans-serif;
}

*:not(strong){
  font-weight: normal;
}

body{
  background-color: #f4f4f4;
  margin-top: 25px;
  margin-left: 25px;
}

section{
  padding: 25px;
  border: 1px solid #e2e2e2;
  background: white;
  border-radius: 5px;
  display: inline-block;
}

section h2{
  margin-top: 0px;
}
