
#spinner{
  display: inline-block;
  margin: auto;
  font-size: 30px;
}

#spinner:hover{
  animation: load 1s infinite;
  animation-timing-function: linear;
}

@keyframes load {
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}
